@media (max-width: 1400px) {
}
@media (max-width: 1281px) {
}
@media (max-width: 1025px) {
  .name-shop {
    display: none;
  }
}

@media (max-width: 750px) {
  .icon {
    display: none;
  }
  .menu ul li:first-child {
    margin-left: 0;
  }
  .h1-title {
    display: none;
  }
}
@media (max-width: 600px) {
}
