:root {
  --color: #dbdf00;
  --color1: #1f6164;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: font;
  src: url(../font/ThistailsSans_Demo-Regular.otf);
}
body {
  font-family: font;
}
.name-shop {
  width: 30%;
  margin-left: 50px;
  font-size: 30px;
}
.header {
  width: 100%;
  height: 80px;
  background-color: #1f6164;
  display: flex;
  align-items: center;
}
.menu ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin-right: 250px;
}
.menu ul li {
  margin-left: 30px;
  justify-content: center;
}
.menu ul li:hover {
  color: var(--color);
  cursor: pointer;
}
.icon img {
  margin-left: 10px;
}
.icon img:hover {
  transform: rotatey(150deg);
  background-color: var(--color);
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
.image {
  background-image: url("../image/1.jpg");
  /* opacity: 0.1; */
  background-size: cover;
  width: 100%;
  height: 750px;
}
p:first-child {
  color: rgb(0, 0, 0);
  text-align: center;
  margin-top: 90px;
  font-size: 50px;
}
p:last-child {
  color: rgb(39, 39, 39);
  margin-top: 400px;
  margin-left: 130px;
  font-size: 30px;
}
p::selection {
  color: rgb(252, 252, 252);
  background-color: var(--color1);
}
